.vscode
__pycache__
.pytest_cache
.coverage
.tox
.nox
.venv
venv
.env
.env.test
.env.dev
.env.prod
.env.local
.env.staging
.env.test
.env.ci
.env.docker
.env.docker.test
.env.docker.dev
.env.docker.prod